.hero-section-main-container{
    display: flex;
    justify-content: center;
}
.hero-section-main{
    display: flex;
    width: 80%;
    margin-top: 2rem;
}
.filtersDiv{
    height: 40vh;
    width: 25%;
    /* background-color: red; */
    border-right: 1px solid #e4e4e4;
}
.sliderDiv{
    height: 40vh;
    width: 80%;
    /* background-color: blue; */
}
