.header {
  height: 50px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.para-2 {
  color: #fff;
  padding: 0.8rem 0rem;
  letter-spacing: 0.2px;
}
.para-3 {
  color: #fff;
  padding: 0.8rem 6rem 0.8rem 0rem;
  letter-spacing: 0.2px;
}
.shop-now {
  color: #fff;
  font-weight: bold;
  margin-left: 1rem;
}

/* reponsive header */
@media screen and (max-width: 870px) {
  .para-2 {
    font-size: 12px;
    padding: 1.2rem 0rem;
  }
  .para-3 {
    font-size: 12px;
    padding: 1.2rem 4rem;
  }
}

@media screen and (max-width: 730px) {
  .para-2 {
    padding-left: 2rem;
    width: 100%;
  }
}
@media screen and (max-width: 699px) {
  .para-3 {
    padding: 1.2rem 2rem;
  }
}
@media screen and (max-width: 634px) {
    .header {
        height: 80px;
      }
}
